# Data visualization

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import os
from os.path import join
import calendar
import altair as alt
from vega_datasets import data as vdata

cwd = os.getcwd()
data_path = join(cwd, '..', '..', 'data')

## Load data

In [24]:
path = join(data_path, 'processed', 'facility_gen_cap_emissions.csv')
df = pd.read_csv(path)

In [25]:
df.head()

,plant_id,month,net_gen_mwh,primary_gen_fuel,gross_load_mwh,so2_tons,nox_tons,co2_short_tons,heat_input_mmbtu,state,nameplate_capacity_mw,summer_capacity_mw,winter_capacity_mw,minimum_load_mw,technology
0,2,1,-77.112,HYC,NaN,NaN,NaN,NaN,NaN,AL,53.9,56.0,52.0,52.0,Conventional Hydroelectric
1,2,2,-69.679,HYC,NaN,NaN,NaN,NaN,NaN,AL,53.9,56.0,52.0,52.0,Conventional Hydroelectric
2,2,3,-48.374,HYC,NaN,NaN,NaN,NaN,NaN,AL,53.9,56.0,52.0,52.0,Conventional Hydroelectric
3,2,4,-24.341,HYC,NaN,NaN,NaN,NaN,NaN,AL,53.9,56.0,52.0,52.0,Conventional Hydroelectric
4,2,5,-11.476,HYC,NaN,NaN,NaN,NaN,NaN,AL,53.9,56.0,52.0,52.0,Conventional Hydroelectric

Only include the top technology types

## Matplotlib
[Matplotlib](https://matplotlib.org/) is probably the most popular Python plotting package and it improved significantly with version 2.0. If you can imagine a figure, and have several hours/days of spare time, you can probably make it with matplotlib. On the plus side it allows you to customize nearly every pixel on a figure.

### Plot with Pandas
Pandas has several matplotlib wrapper methods that let you plot the data in a dataframe. It will use the information (e.g. column names) to provide some labels on the figure.

## Plot with Seaborn
Seaborn also wraps functions around matplotlib and provides much more powerful tools for exploring data. It was designed to work closely with Pandas dataframes. I highly recommend going through the [Seaborn tutorial](https://seaborn.pydata.org/tutorial.html).