# Initial exploration of each data file
Pandas makes importing data from files easy. But sometimes the file contents are poorly formatted or can hold hidden surprises. Make sure that the data - and data types - are what you expect them to be before starting your analysis.

In [1]:
import pandas as pd
import numpy as np
import os
from os.path import join

cwd = os.getcwd()
data_path = join(cwd, '..', '..', 'data')

I sometimes find it helpful to change the Pandas viewing options for max rows and max columns

In [3]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

### Don't write absolute paths
An absolute path is something like `/Users/Home/Documents/GitHub/python-data-analysis-class/data/epa_emissions_2016.txt`. Or in Windows it might be `C:\Users\gschivley\Documents\GitHub\python-data-analysis-class\data\epa_emissions_2016.txt`.

Use relative paths and Python built-in tools to write paths.

In [3]:
print(cwd)
print(data_path)

/Users/Home/Documents/GitHub/python-data-analysis-class/notebooks/Pandas
/Users/Home/Documents/GitHub/python-data-analysis-class/notebooks/Pandas/../../data

## Set file paths

In [6]:
# Paths to each of the data files (epa emissions, eia capacity by generator, and eia generation)

epa_path = join(data_path, 'external', 'epa_emissions_2016.txt')
cap_path = join(data_path, 'external', '3_1_Generator_Y2016.xlsx')
gen_path = join(data_path, 'external', 'EIA923_Schedules_2_3_4_5_M_12_2016_Final_Revision.xlsx')

## Load EPA epa data
Lets load the file and see what needs to be done to make sure the data is in good shape and accessible.

In [7]:
epa = pd.read_csv(epa_path)

It looks like the header column is not well aligned with the data. States are showing up as the index and the first column is labeled **State**.

In [8]:
epa.head()

,State,Facility Name,Facility ID (ORISPL),Month,Year,Gross Load (MW-h),SO2 (tons),NOx (tons),CO2 (short tons),Heat Input (MMBtu)
AL,AMEA Sylacauga Plant,56018,1,2016,4534.0,0.014,2.229,3101.8,52585.8,NaN
AL,AMEA Sylacauga Plant,56018,2,2016,792.0,0.002,0.361,542.0,9186.0,NaN
AL,AMEA Sylacauga Plant,56018,3,2016,1498.0,0.005,0.677,1024.2,17365.5,NaN
AL,AMEA Sylacauga Plant,56018,4,2016,1405.0,0.005,0.586,884.1,14987.3,NaN
AL,AMEA Sylacauga Plant,56018,5,2016,1791.0,0.006,0.756,1145.1,19412.8,NaN

In [110]:
with open(epa_path) as f:
    head = [next(f) for x in range(5)]

for line in head:
    print(line)

State, Facility Name, Facility ID (ORISPL), Month, Year, Gross Load (MW-h), SO2 (tons), NOx (tons), CO2 (short tons), Heat Input (MMBtu)

"AL","AMEA Sylacauga Plant","56018","1","2016","4534","0.014","2.229","3101.8","52585.8",

"AL","AMEA Sylacauga Plant","56018","2","2016","792","0.002","0.361","542","9186",

"AL","AMEA Sylacauga Plant","56018","3","2016","1498","0.005","0.677","1024.2","17365.5",

"AL","AMEA Sylacauga Plant","56018","4","2016","1405","0.005","0.586","884.1","14987.3",

In [9]:
epa = pd.read_csv(epa_path, index_col=False)

In [10]:
epa.head()

,State,Facility Name,Facility ID (ORISPL),Month,Year,Gross Load (MW-h),SO2 (tons),NOx (tons),CO2 (short tons),Heat Input (MMBtu)
0,AL,AMEA Sylacauga Plant,56018,1,2016,4534.0,0.014,2.229,3101.8,52585.8
1,AL,AMEA Sylacauga Plant,56018,2,2016,792.0,0.002,0.361,542.0,9186.0
2,AL,AMEA Sylacauga Plant,56018,3,2016,1498.0,0.005,0.677,1024.2,17365.5
3,AL,AMEA Sylacauga Plant,56018,4,2016,1405.0,0.005,0.586,884.1,14987.3
4,AL,AMEA Sylacauga Plant,56018,5,2016,1791.0,0.006,0.756,1145.1,19412.8

In [11]:
epa.tail()

,State,Facility Name,Facility ID (ORISPL),Month,Year,Gross Load (MW-h),SO2 (tons),NOx (tons),CO2 (short tons),Heat Input (MMBtu)
14476,WY,Wyodak,6101,8,2016,279246.0,233.875,347.809,321484.0,3065249.8
14477,WY,Wyodak,6101,9,2016,267691.0,228.710,334.644,309080.6,2946991.1
14478,WY,Wyodak,6101,10,2016,253110.0,211.495,314.882,290879.0,2773451.5
14479,WY,Wyodak,6101,11,2016,249476.0,207.293,306.374,283543.1,2703507.4
14480,WY,Wyodak,6101,12,2016,252072.0,207.199,304.010,282007.9,2688870.4

### Access parts of the dataframe

Look at the column names

In [12]:
epa.columns

Index(['State', ' Facility Name', ' Facility ID (ORISPL)', ' Month', ' Year',
       ' Gross Load (MW-h)', ' SO2 (tons)', ' NOx (tons)', ' CO2 (short tons)',
       ' Heat Input (MMBtu)'],
      dtype='object')

Notice that most of the columns have a leading space? We need to strip out those leading spaces and it might be nice to do some extra formatting.

In [13]:
epa.columns.str.strip()

Index(['State', 'Facility Name', 'Facility ID (ORISPL)', 'Month', 'Year',
       'Gross Load (MW-h)', 'SO2 (tons)', 'NOx (tons)', 'CO2 (short tons)',
       'Heat Input (MMBtu)'],
      dtype='object')

In [14]:
epa.columns = epa.columns.str.strip()

In [15]:
epa.columns = (epa.columns.str.lower()
                  .str.replace(' ', '_')
                  .str.replace('.', '')
                  .str.replace('-', '')
                  .str.replace('(', '')
                  .str.replace(')', ''))

In [16]:
epa.columns

Index(['state', 'facility_name', 'facility_id_orispl', 'month', 'year',
       'gross_load_mwh', 'so2_tons', 'nox_tons', 'co2_short_tons',
       'heat_input_mmbtu'],
      dtype='object')

### Data types of each column
Numeric columns will either be `int` or `float`. If a column is of type `object` it is either all strings or a mix of types. Watch out for columns that should be numeric but should up as `object`.

In [17]:
epa.dtypes

state                  object
facility_name          object
facility_id_orispl      int64
month                   int64
year                    int64
gross_load_mwh        float64
so2_tons              float64
nox_tons              float64
co2_short_tons        float64
heat_input_mmbtu      float64
dtype: object

## Basic statistics of the data

In [18]:
epa.describe()

,facility_id_orispl,month,year,gross_load_mwh,so2_tons,nox_tons,co2_short_tons,heat_input_mmbtu
count,14481.000000,14481.000000,14481.0,1.226200e+04,12465.000000,12700.000000,1.202200e+04,1.272200e+04
mean,22422.507769,6.490988,2016.0,1.974383e+05,117.769365,91.650835,1.582862e+05,1.743909e+06
std,24871.051651,3.442153,0.0,2.926614e+05,369.451131,214.962978,2.678391e+05,2.650419e+06
min,3.000000,1.000000,2016.0,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,2399.000000,4.000000,2016.0,4.474020e+03,0.028000,1.553750,4.555913e+03,5.153396e+04
50%,7145.000000,6.000000,2016.0,5.686740e+04,0.356000,9.534000,4.536591e+04,5.493512e+05
75%,55238.000000,9.000000,2016.0,2.890370e+05,16.868000,55.851500,1.799689e+05,2.454411e+06
max,70454.000000,12.000000,2016.0,2.093063e+06,5165.046000,2394.967000,2.341848e+06,2.232883e+07

Index into a dataframe using `.loc` or `.iloc` with square brackets and row,column notation

In [19]:
epa.iloc[0:5, :4]

  state         facility_name  facility_id_orispl  month
0    AL  AMEA Sylacauga Plant               56018      1
1    AL  AMEA Sylacauga Plant               56018      2
2    AL  AMEA Sylacauga Plant               56018      3
3    AL  AMEA Sylacauga Plant               56018      4
4    AL  AMEA Sylacauga Plant               56018      5

## Load capacity data

In [20]:
capacity = pd.read_excel(cap_path, sheet_name='Operable')

Looks like the first row isn't the column names and the last row is a footnote

In [7]:
capacity.head()

,"2016 Form EIA-860 Data - Schedule 3, 'Generator Data' (Operable Units Only)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
0,Utility ID,Utility Name,Plant Code,Plant Name,State,County,Generator ID,Technology,Prime Mover,Unit Code,...,Planned Energy Source 1,Planned New Nameplate Capacity (MW),Planned Repower Month,Planned Repower Year,Other Planned Modifications?,Other Modifications Month,Other Modifications Year,Multiple Fuels?,Cofire Fuels?,Switch Between Oil and Natural Gas?
1,195,Alabama Power Co,2,Bankhead Dam,AL,Tuscaloosa,1,Conventional Hydroelectric,HY,NaN,...,NaN,,,,NaN,,,N,NaN,NaN
2,195,Alabama Power Co,3,Barry,AL,Mobile,1,Natural Gas Steam Turbine,ST,NaN,...,NaN,,,,NaN,,,N,NaN,NaN
3,195,Alabama Power Co,3,Barry,AL,Mobile,2,Natural Gas Steam Turbine,ST,NaN,...,NaN,,,,NaN,,,N,NaN,NaN
4,195,Alabama Power Co,3,Barry,AL,Mobile,4,Conventional Steam Coal,ST,NaN,...,NaN,,,,NaN,,,N,NaN,NaN

In [8]:
capacity.tail()

,"2016 Form EIA-860 Data - Schedule 3, 'Generator Data' (Operable Units Only)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
20721,61053,Mount Sinai Hospital,61416,Mount Sinai Hospital,NY,New York,GP8,Petroleum Liquids,IC,NaN,...,NaN,,,,NaN,,,N,NaN,NaN
20722,61053,Mount Sinai Hospital,61416,Mount Sinai Hospital,NY,New York,GP9,Petroleum Liquids,IC,NaN,...,NaN,,,,NaN,,,N,NaN,NaN
20723,61053,Mount Sinai Hospital,61416,Mount Sinai Hospital,NY,New York,HES13,Petroleum Liquids,IC,NaN,...,NaN,,,,NaN,,,N,NaN,NaN
20724,61053,Mount Sinai Hospital,61416,Mount Sinai Hospital,NY,New York,HES14,Petroleum Liquids,IC,NaN,...,NaN,,,,NaN,,,N,NaN,NaN
20725,NOTE: Information on planned capacity changes ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
capacity = pd.read_excel(cap_path, sheet_name='Operable', header=1, skipfooter=1)

In [22]:
capacity.head()

,Utility ID,Utility Name,Plant Code,Plant Name,State,County,Generator ID,Technology,Prime Mover,Unit Code,Ownership,Duct Burners,Can Bypass Heat Recovery Steam Generator?,RTO/ISO LMP Node Designation,RTO/ISO Location Designation for Reporting Wholesale Sales Data to FERC,Nameplate Capacity (MW),Nameplate Power Factor,Summer Capacity (MW),Winter Capacity (MW),Minimum Load (MW),Uprate or Derate Completed During Year,Month Uprate or Derate Completed,Year Uprate or Derate Completed,Status,Synchronized to Transmission Grid,Operating Month,Operating Year,Planned Retirement Month,Planned Retirement Year,Associated with Combined Heat and Power System,Sector Name,Sector,Topping or Bottoming,Energy Source 1,Energy Source 2,Energy Source 3,Energy Source 4,Energy Source 5,Energy Source 6,Startup Source 1,Startup Source 2,Startup Source 3,Startup Source 4,Solid Fuel Gasification System?,Carbon Capture Technology?,Turbines or Hydrokinetic Buoys,Time from Cold Shutdown to Full Load,Fluidized Bed Technology?,Pulverized Coal Technology?,Stoker Technology?,Other Combustion Technology?,Subcritical Technology?,Supercritical Technology?,Ultrasupercritical Technology?,Planned Net Summer Capacity Uprate (MW),Planned Net Winter Capacity Uprate (MW),Planned Uprate Month,Planned Uprate Year,Planned Net Summer Capacity Derate (MW),Planned Net Winter Capacity Derate (MW),Planned Derate Month,Planned Derate Year,Planned New Prime Mover,Planned Energy Source 1,Planned New Nameplate Capacity (MW),Planned Repower Month,Planned Repower Year,Other Planned Modifications?,Other Modifications Month,Other Modifications Year,Multiple Fuels?,Cofire Fuels?,Switch Between Oil and Natural Gas?
0,195,Alabama Power Co,2,Bankhead Dam,AL,Tuscaloosa,1,Conventional Hydroelectric,HY,NaN,S,X,X,NaN,NaN,53.9,0.92,56,52,52,N,,,OP,X,7,1963,,,N,Electric Utility,1,X,WAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,,,,NaN,NaN,,,,NaN,,,N,NaN,NaN
1,195,Alabama Power Co,3,Barry,AL,Mobile,1,Natural Gas Steam Turbine,ST,NaN,S,X,X,NaN,NaN,153.1,0.85,55,55,55,N,,,OP,X,2,1954,12,2019,N,Electric Utility,1,X,NG,NaN,NaN,NaN,NaN,NaN,NG,NaN,NaN,NaN,NaN,NaN,,OVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,,,,NaN,NaN,,,,NaN,,,N,NaN,NaN
2,195,Alabama Power Co,3,Barry,AL,Mobile,2,Natural Gas Steam Turbine,ST,NaN,S,X,X,NaN,NaN,153.1,0.85,55,55,55,N,,,OP,X,7,1954,12,2019,N,Electric Utility,1,X,NG,NaN,NaN,NaN,NaN,NaN,NG,NaN,NaN,NaN,NaN,NaN,,OVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,,,,NaN,NaN,,,,NaN,,,N,NaN,NaN
3,195,Alabama Power Co,3,Barry,AL,Mobile,4,Conventional Steam Coal,ST,NaN,S,X,X,NaN,NaN,403.7,0.85,362,362,200,N,,,OP,X,12,1969,,,N,Electric Utility,1,X,BIT,NaN,NaN,NaN,NaN,NaN,NG,NaN,NaN,NaN,NaN,NaN,,OVER,NaN,Y,NaN,NaN,Y,NaN,NaN,,,,,,,,,NaN,NaN,,,,NaN,,,N,NaN,NaN
4,195,Alabama Power Co,3,Barry,AL,Mobile,5,Conventional Steam Coal,ST,NaN,S,X,X,NaN,NaN,788.8,0.85,738.5,738.5,465,N,,,OP,X,10,1971,,,N,Electric Utility,1,X,BIT,NaN,NaN,NaN,NaN,NaN,NG,NaN,NaN,NaN,NaN,NaN,,OVER,NaN,Y,NaN,NaN,NaN,Y,NaN,,,,,,,,,NaN,NaN,,,,NaN,,,N,NaN,NaN

### Check the column names and data types

In [23]:
capacity.columns

Index(['Utility ID', 'Utility Name', 'Plant Code', 'Plant Name', 'State',
       'County', 'Generator ID', 'Technology', 'Prime Mover', 'Unit Code',
       'Ownership', 'Duct Burners',
       'Can Bypass Heat Recovery Steam Generator?',
       'RTO/ISO LMP Node Designation',
       'RTO/ISO Location Designation for Reporting Wholesale Sales Data to FERC',
       'Nameplate Capacity (MW)', 'Nameplate Power Factor',
       'Summer Capacity (MW)', 'Winter Capacity (MW)', 'Minimum Load (MW)',
       'Uprate or Derate Completed During Year',
       'Month Uprate or Derate Completed', 'Year Uprate or Derate Completed',
       'Status', 'Synchronized to Transmission Grid', 'Operating Month',
       'Operating Year', 'Planned Retirement Month', 'Planned Retirement Year',
       'Associated with Combined Heat and Power System', 'Sector Name',
       'Sector', 'Topping or Bottoming', 'Energy Source 1', 'Energy Source 2',
       'Energy Source 3', 'Energy Source 4', 'Energy Source 5',
       'Energy Source 6', 'Startup Source 1', 'Startup Source 2',
       'Startup Source 3', 'Startup Source 4',
       'Solid Fuel Gasification System?', 'Carbon Capture Technology?',
       'Turbines or Hydrokinetic Buoys',
       'Time from Cold Shutdown to Full Load', 'Fluidized Bed Technology?',
       'Pulverized Coal Technology?', 'Stoker Technology?',
       'Other Combustion Technology?', 'Subcritical Technology?',
       'Supercritical Technology?', 'Ultrasupercritical Technology?',
       'Planned Net Summer Capacity Uprate (MW)',
       'Planned Net Winter Capacity Uprate (MW)', 'Planned Uprate Month',
       'Planned Uprate Year', 'Planned Net Summer Capacity Derate (MW)',
       'Planned Net Winter Capacity Derate (MW)', 'Planned Derate Month',
       'Planned Derate Year', 'Planned New Prime Mover',
       'Planned Energy Source 1', 'Planned New Nameplate Capacity (MW)',
       'Planned Repower Month', 'Planned Repower Year',
       'Other Planned Modifications?', 'Other Modifications Month',
       'Other Modifications Year', 'Multiple Fuels?', 'Cofire Fuels?',
       'Switch Between Oil and Natural Gas?'],
      dtype='object')

In [24]:
capacity.dtypes

Utility ID                                                                   int64
Utility Name                                                                object
Plant Code                                                                   int64
Plant Name                                                                  object
State                                                                       object
County                                                                      object
Generator ID                                                                object
Technology                                                                  object
Prime Mover                                                                 object
Unit Code                                                                   object
Ownership                                                                   object
Duct Burners                                                                object
Can Bypass Heat Recovery Steam Generator?                                   object
RTO/ISO LMP Node Designation                                                object
RTO/ISO Location Designation for Reporting Wholesale Sales Data to FERC     object
Nameplate Capacity (MW)                                                    float64
Nameplate Power Factor                                                      object
Summer Capacity (MW)                                                        object
Winter Capacity (MW)                                                        object
Minimum Load (MW)                                                           object
Uprate or Derate Completed During Year                                      object
Month Uprate or Derate Completed                                            object
Year Uprate or Derate Completed                                             object
Status                                                                      object
Synchronized to Transmission Grid                                           object
Operating Month                                                              int64
Operating Year                                                               int64
Planned Retirement Month                                                    object
Planned Retirement Year                                                     object
Associated with Combined Heat and Power System                              object
Sector Name                                                                 object
Sector                                                                       int64
Topping or Bottoming                                                        object
Energy Source 1                                                             object
Energy Source 2                                                             object
Energy Source 3                                                             object
Energy Source 4                                                             object
Energy Source 5                                                             object
Energy Source 6                                                             object
Startup Source 1                                                            object
Startup Source 2                                                            object
Startup Source 3                                                            object
Startup Source 4                                                            object
Solid Fuel Gasification System?                                             object
Carbon Capture Technology?                                                  object
Turbines or Hydrokinetic Buoys                                              object
Time from Cold Shutdown to Full Load                                        object
Fluidized Bed Technology?                                                   object
Pulverized Coal Technology?                                                 object
Stoker Technology?                                                          object
Other Combustion Technology?                                                object
Subcritical Technology?                                                     object
Supercritical Technology?                                                   object
Ultrasupercritical Technology?                                              object
Planned Net Summer Capacity Uprate (MW)                                     object
Planned Net Winter Capacity Uprate (MW)                                     object
Planned Uprate Month                                                        object
Planned Uprate Year                                                         object
Planned Net Summer Capacity Derate (MW)                                     object
Planned Net Winter Capacity Derate (MW)                                     object
Planned Derate Month                                                        object
Planned Derate Year                                                         object
Planned New Prime Mover                                                     object
Planned Energy Source 1                                                     object
Planned New Nameplate Capacity (MW)                                         object
Planned Repower Month                                                       object
Planned Repower Year                                                        object
Other Planned Modifications?                                                object
Other Modifications Month                                                   object
Other Modifications Year                                                    object
Multiple Fuels?                                                             object
Cofire Fuels?                                                               object
Switch Between Oil and Natural Gas?                                         object
dtype: object

In [25]:
type(capacity.dtypes)

pandas.core.series.Series

### It looks like several columns we would expect to be numeric are `object`

Pandas will only list the type of a column as `int` or `float` if all items can be cast that way. `object` means that either all items are strings (or another non-numeric, non-categorical type) or that the values are a mix of types.

Having numeric columns as `object` is a problem for us because operations like `groupby` won't work on non-numeric columns.

In [26]:
capacity.groupby('Plant Code').sum().head()

,Utility ID,Nameplate Capacity (MW),Operating Month,Operating Year,Sector
Plant Code,,,,,
2,195,53.9,7,1963,1
3,1950,2569.5,61,19848,10
4,585,225.0,23,5901,3
7,390,138.0,11,3898,2
8,585,1166.7,21,5886,3

### Finding non-numeric values with code
A search like this can also be done in the Excel or csv file. But sometimes it's easier to do with code.

Let's start by looking at the `Nameplate Power Factor` column and finding non-numeric entries. I'm using [this stackoverflow post](https://stackoverflow.com/questions/21771133/finding-non-numeric-rows-in-dataframe-in-pandas) as a template for my code below.

First use the `map` method to apply a function to every row of the Series. `map` (for Series), `apply` (for rows or columns of Dataframes), and `applymap` (for every element in a Dataframe) are powerful tools.

We'll use a `lambda` function (which is a way to define functions inline) here as part of the `map` method.

In [27]:
capacity['Nameplate Power Factor'].map(lambda x: isinstance(x, (int, float)))

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
30        True
31        True
32        True
33        True
34        True
35        True
36        True
37        True
38        True
39        True
40        True
41        True
42        True
43        True
44        True
45        True
46        True
47        True
48        True
49        True
         ...
20674    False
20675    False
20676     True
20677    False
20678    False
20679    False
20680    False
20681    False
20682    False
20683     True
20684     True
20685     True
20686     True
20687     True
20688     True
20689     True
20690     True
20691     True
20692     True
20693     True
20694     True
20695     True
20696     True
20697    False
20698    False
20699     True
20700     True
20701     True
20702     True
20703     True
20704     True
20705     True
20706     True
20707     True
20708    False
20709     True
20710     True
20711     True
20712     True
20713     True
20714     True
20715     True
20716     True
20717     True
20718     True
20719     True
20720     True
20721     True
20722     True
20723     True
Name: Nameplate Power Factor, Length: 20724, dtype: bool

Now we can use this boolean series, in conjunction with '~' for negation, to find all rows where values are not numeric.

In [28]:
# The numbers below are the index - series values are a blank space

capacity.loc[~capacity['Nameplate Power Factor'].apply(lambda x: isinstance(x, (int, float))),
             'Nameplate Power Factor']

194
195
196
286
676
912
913
1225
1226
1227
1228
1229
1230
1231
1232
1233
1615
1616
1617
1694
1771
2073
2074
2444
2642
3389
3390
3391
3424
3492
3493
3499
3500
3501
3502
3509
3510
3871
3872
3873
4745
4746
4796
4897
6786
7194
7195
7196
7197
7199
        ..
20616
20617
20618
20619
20620
20621
20622
20623
20624
20625
20626
20627
20628
20629
20630
20631
20632
20633
20634
20637
20638
20639
20642
20643
20648
20649
20651
20652
20660
20661
20662
20663
20664
20667
20669
20670
20671
20672
20673
20674
20675
20677
20678
20679
20680
20681
20682
20697
20698
20708
Name: Nameplate Power Factor, Length: 3603, dtype: object

This isn't very helpful though, so lets just look at the unique values.

In [29]:
capacity.loc[~capacity['Nameplate Power Factor'].apply(lambda x: isinstance(x, (int, float))),
             'Nameplate Power Factor'].unique()

array([' '], dtype=object)

### Try loading capacity data again

In [65]:
capacity = pd.read_excel(cap_path, sheet_name='Operable', header=1, skipfooter=1,
                         na_values=' ')

In [68]:
capacity.dtypes

Utility ID                                                                   int64
Utility Name                                                                object
Plant Code                                                                   int64
Plant Name                                                                  object
State                                                                       object
County                                                                      object
Generator ID                                                                object
Technology                                                                  object
Prime Mover                                                                 object
Unit Code                                                                   object
Ownership                                                                   object
Duct Burners                                                                object
Can Bypass Heat Recovery Steam Generator?                                   object
RTO/ISO LMP Node Designation                                                object
RTO/ISO Location Designation for Reporting Wholesale Sales Data to FERC     object
Nameplate Capacity (MW)                                                    float64
Nameplate Power Factor                                                     float64
Summer Capacity (MW)                                                       float64
Winter Capacity (MW)                                                       float64
Minimum Load (MW)                                                          float64
Uprate or Derate Completed During Year                                      object
Month Uprate or Derate Completed                                           float64
Year Uprate or Derate Completed                                            float64
Status                                                                      object
Synchronized to Transmission Grid                                           object
Operating Month                                                              int64
Operating Year                                                               int64
Planned Retirement Month                                                   float64
Planned Retirement Year                                                    float64
Associated with Combined Heat and Power System                              object
Sector Name                                                                 object
Sector                                                                       int64
Topping or Bottoming                                                        object
Energy Source 1                                                             object
Energy Source 2                                                             object
Energy Source 3                                                             object
Energy Source 4                                                             object
Energy Source 5                                                             object
Energy Source 6                                                             object
Startup Source 1                                                            object
Startup Source 2                                                            object
Startup Source 3                                                            object
Startup Source 4                                                            object
Solid Fuel Gasification System?                                             object
Carbon Capture Technology?                                                  object
Turbines or Hydrokinetic Buoys                                             float64
Time from Cold Shutdown to Full Load                                        object
Fluidized Bed Technology?                                                   object
Pulverized Coal Technology?                                                 object
Stoker Technology?                                                          object
Other Combustion Technology?                                                object
Subcritical Technology?                                                     object
Supercritical Technology?                                                   object
Ultrasupercritical Technology?                                              object
Planned Net Summer Capacity Uprate (MW)                                    float64
Planned Net Winter Capacity Uprate (MW)                                    float64
Planned Uprate Month                                                       float64
Planned Uprate Year                                                        float64
Planned Net Summer Capacity Derate (MW)                                    float64
Planned Net Winter Capacity Derate (MW)                                    float64
Planned Derate Month                                                       float64
Planned Derate Year                                                        float64
Planned New Prime Mover                                                     object
Planned Energy Source 1                                                     object
Planned New Nameplate Capacity (MW)                                        float64
Planned Repower Month                                                      float64
Planned Repower Year                                                       float64
Other Planned Modifications?                                                object
Other Modifications Month                                                  float64
Other Modifications Year                                                   float64
Multiple Fuels?                                                             object
Cofire Fuels?                                                               object
Switch Between Oil and Natural Gas?                                         object
dtype: object

### Group capacity by plant code
EIA reports generation by fuel type and prime mover type, not necessarily by the actual prime mover. The EPA emissions data file I've included in this repository also groups data to the facility level. So lets group data to the facility level here to make everything easier.

In [135]:
capacity.groupby('Plant Code', as_index=False).sum().head()

,Plant Code,Utility ID,Nameplate Capacity (MW),Nameplate Power Factor,Summer Capacity (MW),Winter Capacity (MW),Minimum Load (MW),Month Uprate or Derate Completed,Year Uprate or Derate Completed,Operating Month,Operating Year,Planned Retirement Month,Planned Retirement Year,Sector,Turbines or Hydrokinetic Buoys,Planned Net Summer Capacity Uprate (MW),Planned Net Winter Capacity Uprate (MW),Planned Uprate Month,Planned Uprate Year,Planned Net Summer Capacity Derate (MW),Planned Net Winter Capacity Derate (MW),Planned Derate Month,Planned Derate Year,Planned New Nameplate Capacity (MW),Planned Repower Month,Planned Repower Year,Other Modifications Month,Other Modifications Year
0,2,195,53.9,0.920,56.0,52.0,52.0,0.0,0.0,7,1963,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,1950,2569.5,8.500,2172.5,2274.5,1421.0,0.0,0.0,61,19848,24.0,4038.0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,585,225.0,2.571,225.9,228.0,225.0,0.0,0.0,23,5901,0.0,0.0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7,390,138.0,1.700,130.0,130.0,56.0,0.0,0.0,11,3898,24.0,4038.0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8,585,1166.7,2.550,1053.7,1053.7,780.0,0.0,0.0,21,5886,0.0,0.0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### What technology makes up the largest fraction of capacity at each plant?

There is probably a faster/more clever way to do this, but I'm going to:
- Sum capacity by Technology at each plant
- Loop through every plant in a grouped object
- Identify the index with the largest summer capacity value and return the "Technology"
- If no summer capacity is given `idxmax` will return an error - use the nameplate capacity instead
- Build a new dataframe with this data

In [34]:
sum_cap = capacity.groupby(['Plant Code', 'Technology']).sum()

In [40]:
max_tech = {}

for plant in capacity['Plant Code'].unique():
    tech = sum_cap.loc[plant, 'Nameplate Capacity (MW)'].idxmax()
    
    max_tech[plant] = tech

In [41]:
max_tech

{2: 'Conventional Hydroelectric',
 3: 'Conventional Steam Coal',
 4: 'Conventional Hydroelectric',
 7: 'Natural Gas Steam Turbine',
 8: 'Conventional Steam Coal',
 9: 'Natural Gas Fired Combustion Turbine',
 10: 'Natural Gas Fired Combustion Turbine',
 11: 'Conventional Hydroelectric',
 12: 'Conventional Hydroelectric',
 13: 'Conventional Hydroelectric',
 14: 'Conventional Hydroelectric',
 15: 'Conventional Hydroelectric',
 16: 'Conventional Hydroelectric',
 17: 'Conventional Hydroelectric',
 18: 'Conventional Hydroelectric',
 19: 'Conventional Hydroelectric',
 20: 'Conventional Hydroelectric',
 21: 'Conventional Hydroelectric',
 26: 'Natural Gas Steam Turbine',
 30: 'Natural Gas Internal Combustion Engine',
 34: 'Conventional Hydroelectric',
 38: 'Conventional Hydroelectric',
 46: 'Nuclear',
 47: 'Natural Gas Fired Combustion Turbine',
 48: 'Conventional Hydroelectric',
 49: 'Conventional Hydroelectric',
 51: 'Conventional Steam Coal',
 53: 'Conventional Hydroelectric',
 54: 'Natural Gas Fired Combustion Turbine',
 55: 'Conventional Hydroelectric',
 56: 'Conventional Steam Coal',
 59: 'Conventional Steam Coal',
 60: 'Conventional Steam Coal',
 62: 'Conventional Hydroelectric',
 63: 'Petroleum Liquids',
 64: 'Petroleum Liquids',
 65: 'Conventional Hydroelectric',
 66: 'Petroleum Liquids',
 69: 'Petroleum Liquids',
 70: 'Conventional Hydroelectric',
 71: 'Conventional Hydroelectric',
 72: 'Conventional Hydroelectric',
 75: 'Natural Gas Fired Combustion Turbine',
 77: 'Conventional Hydroelectric',
 78: 'Conventional Hydroelectric',
 79: 'Conventional Steam Coal',
 84: 'Conventional Hydroelectric',
 85: 'Petroleum Liquids',
 87: 'Conventional Steam Coal',
 88: 'Conventional Hydroelectric',
 90: 'Petroleum Liquids',
 91: 'Petroleum Liquids',
 92: 'Petroleum Liquids',
 93: 'Conventional Hydroelectric',
 95: 'Petroleum Liquids',
 96: 'Natural Gas Fired Combustion Turbine',
 99: 'Natural Gas Fired Combustion Turbine',
 100: 'Conventional Hydroelectric',
 104: 'Hydroelectric Pumped Storage',
 108: 'Conventional Steam Coal',
 109: 'Petroleum Liquids',
 113: 'Conventional Steam Coal',
 114: 'Petroleum Liquids',
 116: 'Natural Gas Steam Turbine',
 117: 'Natural Gas Fired Combined Cycle',
 118: 'Natural Gas Fired Combustion Turbine',
 120: 'Natural Gas Fired Combustion Turbine',
 124: 'Natural Gas Fired Combustion Turbine',
 126: 'Natural Gas Steam Turbine',
 127: 'Conventional Steam Coal',
 130: 'Conventional Steam Coal',
 136: 'Conventional Steam Coal',
 141: 'Natural Gas Steam Turbine',
 143: 'Conventional Hydroelectric',
 145: 'Hydroelectric Pumped Storage',
 147: 'Natural Gas Fired Combined Cycle',
 148: 'Hydroelectric Pumped Storage',
 149: 'Conventional Hydroelectric',
 150: 'Conventional Hydroelectric',
 151: 'Natural Gas Fired Combustion Turbine',
 152: 'Conventional Hydroelectric',
 153: 'Conventional Hydroelectric',
 154: 'Conventional Hydroelectric',
 159: 'Conventional Hydroelectric',
 160: 'Conventional Steam Coal',
 161: 'Conventional Hydroelectric',
 162: 'Conventional Hydroelectric',
 165: 'Conventional Steam Coal',
 166: 'Conventional Hydroelectric',
 170: 'Natural Gas Steam Turbine',
 172: 'Petroleum Liquids',
 174: 'Conventional Hydroelectric',
 180: 'Conventional Hydroelectric',
 182: 'Conventional Hydroelectric',
 187: 'Conventional Hydroelectric',
 188: 'Conventional Hydroelectric',
 193: 'Petroleum Liquids',
 195: 'Conventional Hydroelectric',
 196: 'Conventional Hydroelectric',
 197: 'Conventional Hydroelectric',
 198: 'Conventional Hydroelectric',
 199: 'Conventional Hydroelectric',
 201: 'Natural Gas Fired Combined Cycle',
 202: 'Natural Gas Steam Turbine',
 203: 'Natural Gas Steam Turbine',
 204: 'Nuclear',
 207: 'Conventional Steam Coal',
 210: 'Nuclear',
 214: 'Conventional Hydroelectric',
 215: 'Conventional Hydroelectric',
 217: 'Conventional Hydroelectric',
 218: 'Conventional Hydroelectric',
 219: 'Conventional Hydroelectric',
 220: 'Conventional Hydroelectric',
 221: 'Conventional Hydroelectric',
 222: 'Conventional Hydroelectric',
 223: 'Conventional Hydroelectric',
 224: 'Conventional Hydroelectric',
 225: 'Conventional Hydroelectric',
 227: 'Conventional Hydroelectric',
 229: 'Conventional Hydroelectric',
 231: 'Conventional Hydroelectric',
 232: 'Conventional Hydroelectric',
 233: 'Conventional Hydroelectric',
 235: 'Conventional Hydroelectric',
 236: 'Conventional Hydroelectric',
 237: 'Conventional Hydroelectric',
 238: 'Conventional Hydroelectric',
 239: 'Conventional Hydroelectric',
 240: 'Conventional Hydroelectric',
 241: 'Conventional Hydroelectric',
 242: 'Conventional Hydroelectric',
 243: 'Conventional Hydroelectric',
 244: 'Conventional Hydroelectric',
 246: 'Natural Gas Internal Combustion Engine',
 248: 'Conventional Hydroelectric',
 249: 'Conventional Hydroelectric',
 250: 'Conventional Hydroelectric',
 253: 'Conventional Hydroelectric',
 254: 'Conventional Hydroelectric',
 255: 'Conventional Hydroelectric',
 258: 'Conventional Hydroelectric',
 260: 'Natural Gas Fired Combined Cycle',
 261: 'Conventional Hydroelectric',
 262: 'Conventional Hydroelectric',
 264: 'Conventional Hydroelectric',
 265: 'Conventional Hydroelectric',
 266: 'Conventional Hydroelectric',
 267: 'Conventional Hydroelectric',
 268: 'Conventional Hydroelectric',
 269: 'Conventional Hydroelectric',
 270: 'Conventional Hydroelectric',
 271: 'Natural Gas Steam Turbine',
 272: 'Conventional Hydroelectric',
 274: 'Conventional Hydroelectric',
 275: 'Conventional Hydroelectric',
 276: 'Conventional Hydroelectric',
 277: 'Conventional Hydroelectric',
 279: 'Conventional Hydroelectric',
 280: 'Conventional Hydroelectric',
 281: 'Conventional Hydroelectric',
 282: 'Conventional Hydroelectric',
 283: 'Conventional Hydroelectric',
 284: 'Conventional Hydroelectric',
 285: 'Conventional Hydroelectric',
 286: 'Geothermal',
 287: 'Conventional Hydroelectric',
 289: 'Conventional Hydroelectric',
 290: 'Conventional Hydroelectric',
 291: 'Conventional Hydroelectric',
 292: 'Conventional Hydroelectric',
 293: 'Conventional Hydroelectric',
 294: 'Conventional Hydroelectric',
 295: 'Conventional Hydroelectric',
 296: 'Conventional Hydroelectric',
 297: 'Conventional Hydroelectric',
 298: 'Conventional Steam Coal',
 299: 'Geothermal',
 302: 'Natural Gas Steam Turbine',
 303: 'Natural Gas Fired Combustion Turbine',
 313: 'Conventional Hydroelectric',
 314: 'Conventional Hydroelectric',
 315: 'Natural Gas Steam Turbine',
 316: 'Conventional Hydroelectric',
 317: 'Conventional Hydroelectric',
 318: 'Conventional Hydroelectric',
 319: 'Conventional Hydroelectric',
 320: 'Conventional Hydroelectric',
 321: 'Conventional Hydroelectric',
 322: 'Conventional Hydroelectric',
 323: 'Conventional Hydroelectric',
 324: 'Conventional Hydroelectric',
 325: 'Conventional Hydroelectric',
 326: 'Conventional Hydroelectric',
 327: 'Conventional Hydroelectric',
 328: 'Conventional Hydroelectric',
 331: 'Natural Gas Steam Turbine',
 332: 'Conventional Hydroelectric',
 335: 'Natural Gas Steam Turbine',
 336: 'Conventional Hydroelectric',
 337: 'Conventional Hydroelectric',
 338: 'Conventional Hydroelectric',
 339: 'Conventional Hydroelectric',
 340: 'Conventional Hydroelectric',
 341: 'Natural Gas Fired Combustion Turbine',
 342: 'Conventional Hydroelectric',
 344: 'Conventional Hydroelectric',
 345: 'Natural Gas Steam Turbine',
 350: 'Natural Gas Steam Turbine',
 353: 'Conventional Hydroelectric',
 354: 'Conventional Hydroelectric',
 356: 'Natural Gas Steam Turbine',
 357: 'Conventional Hydroelectric',
 358: 'Natural Gas Fired Combined Cycle',
 361: 'Conventional Hydroelectric',
 363: 'Conventional Hydroelectric',
 365: 'Conventional Hydroelectric',
 371: 'Nuclear',
 376: 'Conventional Hydroelectric',
 377: 'Natural Gas Fired Combined Cycle',
 378: 'Conventional Hydroelectric',
 380: 'Conventional Hydroelectric',
 381: 'Conventional Hydroelectric',
 382: 'Conventional Hydroelectric',
 384: 'Conventional Steam Coal',
 385: 'Conventional Hydroelectric',
 386: 'Conventional Hydroelectric',
 387: 'Conventional Hydroelectric',
 388: 'Conventional Hydroelectric',
 389: 'Natural Gas Fired Combined Cycle',
 390: 'Conventional Hydroelectric',
 391: 'Conventional Hydroelectric',
 392: 'Hydroelectric Pumped Storage',
 393: 'Conventional Hydroelectric',
 394: 'Conventional Hydroelectric',
 396: 'Conventional Hydroelectric',
 397: 'Conventional Hydroelectric',
 398: 'Conventional Hydroelectric',
 399: 'Natural Gas Fired Combustion Turbine',
 400: 'Natural Gas Fired Combustion Turbine',
 401: 'Conventional Hydroelectric',
 402: 'Conventional Hydroelectric',
 403: 'Conventional Hydroelectric',
 404: 'Natural Gas Fired Combined Cycle',
 406: 'Petroleum Liquids',
 407: 'Conventional Hydroelectric',
 408: 'Natural Gas Fired Combined Cycle',
 409: 'Conventional Hydroelectric',
 410: 'Conventional Hydroelectric',
 412: 'Conventional Hydroelectric',
 413: 'Conventional Hydroelectric',
 414: 'Conventional Hydroelectric',
 415: 'Conventional Hydroelectric',
 416: 'Conventional Hydroelectric',
 417: 'Conventional Hydroelectric',
 418: 'Conventional Hydroelectric',
 419: 'Conventional Hydroelectric',
 421: 'Petroleum Liquids',
 422: 'Natural Gas Fired Combustion Turbine',
 423: 'Petroleum Liquids',
 424: 'Conventional Hydroelectric',
 425: 'Conventional Hydroelectric',
 426: 'Conventional Hydroelectric',
 427: 'Conventional Hydroelectric',
 428: 'Conventional Hydroelectric',
 430: 'Conventional Hydroelectric',
 431: 'Conventional Hydroelectric',
 432: 'Conventional Hydroelectric',
 433: 'Conventional Hydroelectric',
 435: 'Conventional Hydroelectric',
 436: 'Conventional Hydroelectric',
 437: 'Conventional Hydroelectric',
 438: 'Hydroelectric Pumped Storage',
 439: 'Conventional Hydroelectric',
 440: 'Conventional Hydroelectric',
 441: 'Conventional Hydroelectric',
 442: 'Conventional Hydroelectric',
 443: 'Conventional Hydroelectric',
 444: 'Conventional Hydroelectric',
 445: 'Conventional Hydroelectric',
 446: 'Hydroelectric Pumped Storage',
 447: 'Conventional Hydroelectric',
 448: 'Hydroelectric Pumped Storage',
 450: 'Conventional Hydroelectric',
 451: 'Conventional Hydroelectric',
 454: 'Conventional Hydroelectric',
 455: 'Conventional Hydroelectric',
 457: 'Conventional Hydroelectric',
 460: 'Petroleum Liquids',
 464: 'Natural Gas Fired Combustion Turbine',
 466: 'Conventional Hydroelectric',
 467: 'Hydroelectric Pumped Storage',
 469: 'Natural Gas Fired Combined Cycle',
 470: 'Conventional Steam Coal',
 471: 'Natural Gas Fired Combustion Turbine',
 472: 'Conventional Hydroelectric',
 473: 'Conventional Hydroelectric',
 474: 'Conventional Hydroelectric',
 476: 'Conventional Hydroelectric',
 477: 'Conventional Steam Coal',
 479: 'Conventional Hydroelectric',
 480: 'Conventional Hydroelectric',
 481: 'Conventional Hydroelectric',
 482: 'Conventional Hydroelectric',
 483: 'Conventional Hydroelectric',
 484: 'Conventional Hydroelectric',
 487: 'Conventional Hydroelectric',
 489: 'Conventional Hydroelectric',
 491: 'Petroleum Liquids',
 492: 'Conventional Steam Coal',
 493: 'Natural Gas Steam Turbine',
 494: 'Conventional Hydroelectric',
 495: 'Conventional Hydroelectric',
 502: 'Petroleum Liquids',
 504: 'Petroleum Liquids',
 505: 'Conventional Hydroelectric',
 506: 'Petroleum Liquids',
 507: 'Petroleum Liquids',
 508: 'Conventional Steam Coal',
 510: 'Geothermal',
 511: 'Petroleum Liquids',
 512: 'Conventional Hydroelectric',
 513: 'Conventional Hydroelectric',
 514: 'Conventional Hydroelectric',
 515: 'Conventional Hydroelectric',
 516: 'Conventional Hydroelectric',
 517: 'Conventional Hydroelectric',
 518: 'Conventional Hydroelectric',
 519: 'Conventional Hydroelectric',
 520: 'Conventional Hydroelectric',
 521: 'Conventional Hydroelectric',
 525: 'Conventional Steam Coal',
 527: 'Conventional Steam Coal',
 531: 'Conventional Hydroelectric',
 533: 'Natural Gas Fired Combined Cycle',
 534: 'Conventional Hydroelectric',
 535: 'Natural Gas Fired Combustion Turbine',
 537: 'Conventional Hydroelectric',
 539: 'Hydroelectric Pumped Storage',
 540: 'Petroleum Liquids',
 541: 'Conventional Hydroelectric',
 542: 'Petroleum Liquids',
 544: 'Petroleum Liquids',
 546: 'Petroleum Liquids',
 547: 'Hydroelectric Pumped Storage',
 550: 'Wood/Wood Waste Biomass',
 551: 'Conventional Hydroelectric',
 552: 'Conventional Hydroelectric',
 553: 'Conventional Hydroelectric',
 554: 'Conventional Hydroelectric',
 557: 'Petroleum Liquids',
 559: 'Conventional Hydroelectric',
 560: 'Conventional Hydroelectric',
 561: 'Petroleum Liquids',
 562: 'Petroleum Liquids',
 563: 'Petroleum Liquids',
 564: 'Conventional Steam Coal',
 565: 'Petroleum Liquids',
 566: 'Nuclear',
 568: 'Conventional Steam Coal',
 579: 'Conventional Hydroelectric',
 581: 'Petroleum Liquids',
 583: 'Conventional Hydroelectric',
 584: 'Conventional Hydroelectric',
 585: 'Conventional Hydroelectric',
 586: 'Conventional Hydroelectric',
 589: 'Wood/Wood Waste Biomass',
 591: 'Petroleum Liquids',
 592: 'Petroleum Liquids',
 593: 'Natural Gas Steam Turbine',
 594: 'Conventional Steam Coal',
 597: 'Petroleum Liquids',
 599: 'Natural Gas Steam Turbine',
 602: 'Conventional Steam Coal',
 607: 'Natural Gas Fired Combustion Turbine',
 609: 'Natural Gas Fired Combined Cycle',
 612: 'Natural Gas Fired Combined Cycle',
 613: 'Natural Gas Fired Combustion Turbine',
 617: 'Natural Gas Fired Combined Cycle',
 619: 'Natural Gas Fired Combined Cycle',
 620: 'Natural Gas Fired Combined Cycle',
 621: 'Nuclear',
 622: 'Conventional Hydroelectric',
 624: 'Natural Gas Fired Combustion Turbine',
 625: 'Conventional Hydroelectric',
 626: 'Conventional Hydroelectric',
 627: 'Petroleum Liquids',
 628: 'Conventional Steam Coal',
 630: 'Natural Gas Fired Combustion Turbine',
 632: 'Conventional Hydroelectric',
 634: 'Natural Gas Fired Combined Cycle',
 638: 'Natural Gas Fired Combustion Turbine',
 641: 'Conventional Steam Coal',
 643: 'Natural Gas Fired Combined Cycle',
 645: 'Conventional Steam Coal',
 649: 'Nuclear',
 663: 'Conventional Steam Coal',
 664: 'Natural Gas Fired Combined Cycle',
 665: 'Natural Gas Internal Combustion Engine',
 666: 'Natural Gas Fired Combustion Turbine',
 667: 'Conventional Steam Coal',
 673: 'Petroleum Liquids',
 674: 'Conventional Hydroelectric',
 675: 'Natural Gas Fired Combined Cycle',
 676: 'Natural Gas Fired Combined Cycle',
 678: 'Conventional Hydroelectric',
 682: 'Conventional Hydroelectric',
 683: 'Natural Gas Fired Combustion Turbine',
 688: 'Natural Gas Fired Combined Cycle',
 689: 'Natural Gas Fired Combined Cycle',
 690: 'Conventional Hydroelectric',
 692: 'Onshore Wind Turbine',
 696: 'Petroleum Liquids',
 698: 'Petroleum Liquids',
 702: 'Conventional Hydroelectric',
 703: 'Conventional Steam Coal',
 704: 'Conventional Hydroelectric',
 706: 'Conventional Hydroelectric',
 707: 'Conventional Hydroelectric',
 708: 'Conventional Steam Coal',
 710: 'Natural Gas Fired Combined Cycle',
 711: 'Conventional Hydroelectric',
 712: 'Conventional Hydroelectric',
 714: 'Conventional Hydroelectric',
 715: 'Petroleum Liquids',
 717: 'Conventional Hydroelectric',
 718: 'Conventional Hydroelectric',
 719: 'Conventional Hydroelectric',
 720: 'Conventional Hydroelectric',
 722: 'Conventional Hydroelectric',
 723: 'Conventional Hydroelectric',
 724: 'Conventional Hydroelectric',
 725: 'Conventional Hydroelectric',
 728: 'Natural Gas Steam Turbine',
 729: 'Conventional Hydroelectric',
 732: 'Petroleum Liquids',
 736: 'Conventional Hydroelectric',
 745: 'Conventional Hydroelectric',
 751: 'Conventional Hydroelectric',
 752: 'Conventional Hydroelectric',
 753: 'Conventional Steam Coal',
 754: 'Conventional Hydroelectric',
 757: 'Conventional Hydroelectric',
 758: 'Conventional Hydroelectric',
 759: 'Conventional Hydroelectric',
 760: 'Conventional Hydroelectric',
 761: 'Conventional Hydroelectric',
 762: 'Natural Gas Steam Turbine',
 765: 'Petroleum Liquids',
 766: 'Petroleum Liquids',
 768: 'Petroleum Liquids',
 769: 'Petroleum Liquids',
 771: 'Conventional Hydroelectric',
 772: 'Petroleum Liquids',
 774: 'Conventional Hydroelectric',
 776: 'Conventional Hydroelectric',
 785: 'Conventional Hydroelectric',
 788: 'Conventional Hydroelectric',
 789: 'Petroleum Liquids',
 790: 'Conventional Hydroelectric',
 791: 'Conventional Hydroelectric',
 792: 'Petroleum Liquids',
 794: 'Conventional Hydroelectric',
 805: 'Conventional Hydroelectric',
 808: 'Conventional Hydroelectric',
 809: 'Conventional Hydroelectric',
 810: 'Conventional Hydroelectric',
 811: 'Conventional Hydroelectric',
 812: 'Conventional Hydroelectric',
 813: 'Conventional Hydroelectric',
 814: 'Conventional Hydroelectric',
 815: 'Conventional Hydroelectric',
 816: 'Conventional Hydroelectric',
 817: 'Petroleum Liquids',
 818: 'Conventional Hydroelectric',
 819: 'Conventional Hydroelectric',
 820: 'Conventional Hydroelectric',
 821: 'Conventional Hydroelectric',
 822: 'Conventional Hydroelectric',
 823: 'Conventional Hydroelectric',
 825: 'Conventional Hydroelectric',
 827: 'Conventional Hydroelectric',
 829: 'Conventional Hydroelectric',
 831: 'Conventional Hydroelectric',
 833: 'Conventional Hydroelectric',
 835: 'Conventional Hydroelectric',
 839: 'Conventional Hydroelectric',
 840: 'Conventional Hydroelectric',
 841: 'Conventional Hydroelectric',
 843: 'Conventional Hydroelectric',
 844: 'Conventional Hydroelectric',
 846: 'Conventional Hydroelectric',
 850: 'Conventional Hydroelectric',
 851: 'Conventional Hydroelectric',
 856: 'Conventional Steam Coal',
 861: 'Conventional Steam Coal',
 862: 'Natural Gas Fired Combined Cycle',
 869: 'Nuclear',
 874: 'Conventional Steam Coal',
 876: 'Conventional Steam Coal',
 879: 'Conventional Steam Coal',
 880: 'Nuclear',
 883: 'Conventional Steam Coal',
 884: 'Conventional Steam Coal',
 886: 'Petroleum Liquids',
 887: 'Conventional Steam Coal',
 889: 'Conventional Steam Coal',
 891: 'Conventional Steam Coal',
 892: 'Conventional Steam Coal',
 899: 'Natural Gas Fired Combustion Turbine',
 902: 'Geothermal',
 903: 'Conventional Hydroelectric',
 905: 'Conventional Hydroelectric',
 913: 'Natural Gas Fired Combustion Turbine',
 917: 'Conventional Hydroelectric',
 925: 'Conventional Hydroelectric',
 934: 'Petroleum Liquids',
 935: 'Petroleum Liquids',
 936: 'Petroleum Liquids',
 937: 'Petroleum Liquids',
 940: 'Petroleum Liquids',
 941: 'Petroleum Liquids',
 943: 'Petroleum Liquids',
 944: 'Natural Gas Internal Combustion Engine',
 946: 'Petroleum Liquids',
 948: 'Petroleum Liquids',
 949: 'Petroleum Liquids',
 955: 'Petroleum Liquids',
 956: 'Conventional Hydroelectric',
 957: 'Natural Gas Internal Combustion Engine',
 958: 'Petroleum Liquids',
 959: 'Petroleum Liquids',
 960: 'Natural Gas Internal Combustion Engine',
 961: 'Petroleum Liquids',
 963: 'Conventional Steam Coal',
 964: 'Petroleum Liquids',
 965: 'Petroleum Liquids',
 969: 'Petroleum Liquids',
 971: 'Petroleum Liquids',
 972: 'Natural Gas Steam Turbine',
 976: 'Conventional Steam Coal',
 983: 'Conventional Steam Coal',
 986: 'Conventional Hydroelectric',
 987: 'Conventional Hydroelectric',
 989: 'Conventional Hydroelectric',
 990: 'Natural Gas Steam Turbine',
 992: 'Natural Gas Steam Turbine',
 994: 'Conventional Steam Coal',
 995: 'Conventional Steam Coal',
 997: 'Conventional Steam Coal',
 998: 'Conventional Hydroelectric',
 999: 'Conventional Hydroelectric',
 1001: 'Conventional Steam Coal',
 1002: 'Petroleum Liquids',
 1004: 'Coal Integrated Gasification Combined Cycle',
 1005: 'Conventional Hydroelectric',
 1006: 'Petroleum Liquids',
 1007: 'Natural Gas Fired Combined Cycle',
 1008: 'Conventional Steam Coal',
 1011: 'Natural Gas Fired Combustion Turbine',
 1012: 'Conventional Steam Coal',
 1013: 'Natural Gas Fired Combustion Turbine',
 1016: 'Natural Gas Fired Combined Cycle',
 1020: 'Conventional Hydroelectric',
 1024: 'Conventional Steam Coal',
 1037: 'Petroleum Liquids',
 1038: 'Natural Gas Internal Combustion Engine',
 1040: 'Conventional Steam Coal',
 1046: 'Natural Gas Steam Turbine',
 1047: 'Conventional Steam Coal',
 1048: 'Natural Gas Steam Turbine',

In [42]:
capacity['Plant Code'].map(max_tech)

0                  Conventional Hydroelectric
1                     Conventional Steam Coal
2                     Conventional Steam Coal
3                     Conventional Steam Coal
4                     Conventional Steam Coal
5                     Conventional Steam Coal
6                     Conventional Steam Coal
7                     Conventional Steam Coal
8                     Conventional Steam Coal
9                     Conventional Steam Coal
10                    Conventional Steam Coal
11                 Conventional Hydroelectric
12                 Conventional Hydroelectric
13                 Conventional Hydroelectric
14                  Natural Gas Steam Turbine
15                  Natural Gas Steam Turbine
16                    Conventional Steam Coal
17                    Conventional Steam Coal
18                    Conventional Steam Coal
19       Natural Gas Fired Combustion Turbine
20       Natural Gas Fired Combustion Turbine
21       Natural Gas Fired Combustion Turbine
22       Natural Gas Fired Combustion Turbine
23       Natural Gas Fired Combustion Turbine
24       Natural Gas Fired Combustion Turbine
25       Natural Gas Fired Combustion Turbine
26       Natural Gas Fired Combustion Turbine
27       Natural Gas Fired Combustion Turbine
28       Natural Gas Fired Combustion Turbine
29       Natural Gas Fired Combustion Turbine
30       Natural Gas Fired Combustion Turbine
31                 Conventional Hydroelectric
32                 Conventional Hydroelectric
33                 Conventional Hydroelectric
34                 Conventional Hydroelectric
35                 Conventional Hydroelectric
36                 Conventional Hydroelectric
37                 Conventional Hydroelectric
38                 Conventional Hydroelectric
39                 Conventional Hydroelectric
40                 Conventional Hydroelectric
41                 Conventional Hydroelectric
42                 Conventional Hydroelectric
43                 Conventional Hydroelectric
44                 Conventional Hydroelectric
45                 Conventional Hydroelectric
46                 Conventional Hydroelectric
47                 Conventional Hydroelectric
48                 Conventional Hydroelectric
49                 Conventional Hydroelectric
                         ...
20674                      Solar Photovoltaic
20675                      Solar Photovoltaic
20676              Conventional Hydroelectric
20677                      Solar Photovoltaic
20678                      Solar Photovoltaic
20679                      Solar Photovoltaic
20680                      Solar Photovoltaic
20681                      Solar Photovoltaic
20682                      Solar Photovoltaic
20683                       Petroleum Liquids
20684                       Petroleum Liquids
20685                       Petroleum Liquids
20686                            Landfill Gas
20687                            Landfill Gas
20688                            Landfill Gas
20689                            Landfill Gas
20690                            Landfill Gas
20691                            Landfill Gas
20692                            Landfill Gas
20693                            Landfill Gas
20694                            Landfill Gas
20695                            Landfill Gas
20696                            Landfill Gas
20697                      Solar Photovoltaic
20698                      Solar Photovoltaic
20699                       Petroleum Liquids
20700                       Petroleum Liquids
20701                       Petroleum Liquids
20702                       Petroleum Liquids
20703                       Petroleum Liquids
20704                       Petroleum Liquids
20705                       Petroleum Liquids
20706                       Petroleum Liquids
20707                       Petroleum Liquids
20708                      Solar Photovoltaic
20709                       Petroleum Liquids
20710                       Petroleum Liquids
20711                       Petroleum Liquids
20712                       Petroleum Liquids
20713                       Petroleum Liquids
20714                       Petroleum Liquids
20715                       Petroleum Liquids
20716                       Petroleum Liquids
20717                       Petroleum Liquids
20718                       Petroleum Liquids
20719                       Petroleum Liquids
20720                       Petroleum Liquids
20721                       Petroleum Liquids
20722                       Petroleum Liquids
20723                       Petroleum Liquids
Name: Plant Code, Length: 20724, dtype: object

# Load generation data

In [43]:
generation = pd.read_excel(gen_path, header=5)

In [44]:
generation.head()

,Plant Id,Combined Heat And Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,NAICS Code,EIA Sector Number,Sector Name,Reported Prime Mover,Reported Fuel Type Code,AER Fuel Type Code,Reserved.1,Reserved.2,Physical Unit Label,Quantity January,Quantity February,Quantity March,Quantity April,Quantity May,Quantity June,Quantity July,Quantity August,Quantity September,Quantity October,Quantity November,Quantity December,Elec_Quantity January,Elec_Quantity February,Elec_Quantity March,Elec_Quantity April,Elec_Quantity May,Elec_Quantity June,Elec_Quantity July,Elec_Quantity August,Elec_Quantity September,Elec_Quantity October,Elec_Quantity November,Elec_Quantity December,MMBtuPer_Unit January,MMBtuPer_Unit February,MMBtuPer_Unit March,MMBtuPer_Unit April,MMBtuPer_Unit May,MMBtuPer_Unit June,MMBtuPer_Unit July,MMBtuPer_Unit August,MMBtuPer_Unit September,MMBtuPer_Unit October,MMBtuPer_Unit November,MMBtuPer_Unit December,Tot_MMBtu January,Tot_MMBtu February,Tot_MMBtu March,Tot_MMBtu April,Tot_MMBtu May,Tot_MMBtu June,Tot_MMBtu July,Tot_MMBtu August,Tot_MMBtu September,Tot_MMBtu October,Tot_MMBtu November,Tot_MMBtu December,Elec_MMBtu January,Elec_MMBtu February,Elec_MMBtu March,Elec_MMBtu April,Elec_MMBtu May,Elec_MMBtu June,Elec_MMBtu July,Elec_MMBtu August,Elec_MMBtu September,Elec_MMBtu October,Elec_MMBtu November,Elec_MMBtu December,Netgen January,Netgen February,Netgen March,Netgen April,Netgen May,Netgen June,Netgen July,Netgen August,Netgen September,Netgen October,Netgen November,Netgen December,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,HY,WAT,HYC,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-77.112,-69.679,-48.374,-24.341,-11.476,-11.441,-11.593,-17.407,-11.566,-10.832,-10.27,-20.909,0,0,0,0,-325.000,2016
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,CA,NG,NG,NaN,NaN,mcf,57253,27242,86461,54707,64489,90182,120407,115553,109091,67504,64673,20895,57253,27242,86461,54707,64489,90182,120407,115553,109091,67504,64673,20895,1.017,1.019,1.02,1.018,1.017,1.017,1.014,1.022,1.024,1.021,1.019,1.024,58226,27760,88190,55692,65585,91715,122093,118095,111709,68922,65902,21396,58226,27760,88190,55692,65585,91715,122093,118095,111709,68922,65902,21396,268797,251423,214816,261564,223662,206449,259415,229111,251839,219263,266927,265011,878457,878457,895285,895285,2918277.000,2016
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,CT,NG,NG,NaN,NaN,mcf,5248798,4781915,4076291,5053433,4355654,4066516,5055348,4780696,4824758,4159500,5142640,5148943,5248798,4781915,4076291,5053433,4355654,4066516,5055348,4780696,4824758,4159500,5142640,5148943,1.017,1.019,1.02,1.018,1.017,1.017,1.014,1.022,1.024,1.021,1.019,1.024,5338028,4872771,4157817,5144395,4429700,4135647,5126123,4885871,4940552,4246850,5240350,5272518,5338028,4872771,4157817,5144395,4429700,4135647,5126123,4885871,4940552,4246850,5240350,5272518,511773,457142,396211,490439,421779,388783,477329,477474,463646,401506,495929,501072,56694492,56694492,57790622,57790622,5483083.000,2016
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,ST,BIT,COL,NaN,NaN,short tons,159951,129081,137723,19982,178956,241627,260989,273207,228027,144161,169610,100688,159951,129081,137723,19982,178956,241627,260989,273207,228027,144161,169610,100688,20.589,20.736,20.851,20.838,21.425,21.299,21.405,21.317,20.995,20.742,21.042,21.278,3293231,2676624,2871662,416385,3834132,5146413,5586470,5823954,4787427,2990187,3568934,2142439,3293231,2676624,2871662,416385,3834132,5146413,5586470,5823954,4787427,2990187,3568934,2142439,329513,259648,291745,35269.8,376727,510204,559747,583589,473794,286736,363877,207463,2044002,2044002,43137858,43137858,4278313.100,2016
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,22,1,Electric Utility,ST,NG,NG,NaN,NaN,mcf,129803,89337,17287,16628,63097,105853,164990,13178,110758,146810,33953,16312,129803,89337,17287,16628,63097,105853,164990,13178,110758,146810,33953,16312,1.016,1.019,1.02,1.019,1.017,1.017,1.019,1.022,1.026,1.022,1.021,1.028,131880,91034,17633,16944,64170,107653,168125,13468,113638,150040,34666,16769,131880,91034,17633,16944,64170,107653,168125,13468,113638,150040,34666,16769,13195.6,8830.87,1791.39,1435.23,6305.06,10672.4,16845.6,1349.55,11246.3,14387.7,3534.43,1623.8,908006,908006,926020,926020,91217.936,2016

In [45]:
generation.columns

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported\nPrime Mover',
       'Reported\nFuel Type Code', 'AER\nFuel Type Code', 'Reserved.1',
       'Reserved.2', 'Physical\nUnit Label', 'Quantity\nJanuary',
       'Quantity\nFebruary', 'Quantity\nMarch', 'Quantity\nApril',
       'Quantity\nMay', 'Quantity\nJune', 'Quantity\nJuly', 'Quantity\nAugust',
       'Quantity\nSeptember', 'Quantity\nOctober', 'Quantity\nNovember',
       'Quantity\nDecember', 'Elec_Quantity\nJanuary',
       'Elec_Quantity\nFebruary', 'Elec_Quantity\nMarch',
       'Elec_Quantity\nApril', 'Elec_Quantity\nMay', 'Elec_Quantity\nJune',
       'Elec_Quantity\nJuly', 'Elec_Quantity\nAugust',
       'Elec_Quantity\nSeptember', 'Elec_Quantity\nOctober',
       'Elec_Quantity\nNovember', 'Elec_Quantity\nDecember',
       'MMBtuPer_Unit\nJanuary', 'MMBtuPer_Unit\nFebruary',
       'MMBtuPer_Unit\nMarch', 'MMBtuPer_Unit\nApril', 'MMBtuPer_Unit\nMay',
       'MMBtuPer_Unit\nJune', 'MMBtuPer_Unit\nJuly', 'MMBtuPer_Unit\nAugust',
       'MMBtuPer_Unit\nSeptember', 'MMBtuPer_Unit\nOctober',
       'MMBtuPer_Unit\nNovember', 'MMBtuPer_Unit\nDecember',
       'Tot_MMBtu\nJanuary', 'Tot_MMBtu\nFebruary', 'Tot_MMBtu\nMarch',
       'Tot_MMBtu\nApril', 'Tot_MMBtu\nMay', 'Tot_MMBtu\nJune',
       'Tot_MMBtu\nJuly', 'Tot_MMBtu\nAugust', 'Tot_MMBtu\nSeptember',
       'Tot_MMBtu\nOctober', 'Tot_MMBtu\nNovember', 'Tot_MMBtu\nDecember',
       'Elec_MMBtu\nJanuary', 'Elec_MMBtu\nFebruary', 'Elec_MMBtu\nMarch',
       'Elec_MMBtu\nApril', 'Elec_MMBtu\nMay', 'Elec_MMBtu\nJune',
       'Elec_MMBtu\nJuly', 'Elec_MMBtu\nAugust', 'Elec_MMBtu\nSeptember',
       'Elec_MMBtu\nOctober', 'Elec_MMBtu\nNovember', 'Elec_MMBtu\nDecember',
       'Netgen\nJanuary', 'Netgen\nFebruary', 'Netgen\nMarch', 'Netgen\nApril',
       'Netgen\nMay', 'Netgen\nJune', 'Netgen\nJuly', 'Netgen\nAugust',
       'Netgen\nSeptember', 'Netgen\nOctober', 'Netgen\nNovember',
       'Netgen\nDecember', 'Total Fuel Consumption\nQuantity',
       'Electric Fuel Consumption\nQuantity', 'Total Fuel Consumption\nMMBtu',
       'Elec Fuel Consumption\nMMBtu', 'Net Generation\n(Megawatthours)',
       'YEAR'],
      dtype='object')

In [46]:
generation.dtypes

Plant Id                                 int64
Combined Heat And\nPower Plant          object
Nuclear Unit Id                        float64
Plant Name                              object
Operator Name                           object
Operator Id                              int64
Plant State                             object
Census Region                           object
NERC Region                             object
Reserved                               float64
NAICS Code                               int64
EIA Sector Number                        int64
Sector Name                             object
Reported\nPrime Mover                   object
Reported\nFuel Type Code                object
AER\nFuel Type Code                     object
Reserved.1                             float64
Reserved.2                             float64
Physical\nUnit Label                    object
Quantity\nJanuary                       object
Quantity\nFebruary                      object
Quantity\nMarch                         object
Quantity\nApril                         object
Quantity\nMay                           object
Quantity\nJune                          object
Quantity\nJuly                          object
Quantity\nAugust                        object
Quantity\nSeptember                     object
Quantity\nOctober                       object
Quantity\nNovember                      object
Quantity\nDecember                      object
Elec_Quantity\nJanuary                  object
Elec_Quantity\nFebruary                 object
Elec_Quantity\nMarch                    object
Elec_Quantity\nApril                    object
Elec_Quantity\nMay                      object
Elec_Quantity\nJune                     object
Elec_Quantity\nJuly                     object
Elec_Quantity\nAugust                   object
Elec_Quantity\nSeptember                object
Elec_Quantity\nOctober                  object
Elec_Quantity\nNovember                 object
Elec_Quantity\nDecember                 object
MMBtuPer_Unit\nJanuary                  object
MMBtuPer_Unit\nFebruary                 object
MMBtuPer_Unit\nMarch                    object
MMBtuPer_Unit\nApril                    object
MMBtuPer_Unit\nMay                      object
MMBtuPer_Unit\nJune                     object
MMBtuPer_Unit\nJuly                     object
MMBtuPer_Unit\nAugust                   object
MMBtuPer_Unit\nSeptember                object
MMBtuPer_Unit\nOctober                  object
MMBtuPer_Unit\nNovember                 object
MMBtuPer_Unit\nDecember                 object
Tot_MMBtu\nJanuary                      object
Tot_MMBtu\nFebruary                     object
Tot_MMBtu\nMarch                        object
Tot_MMBtu\nApril                        object
Tot_MMBtu\nMay                          object
Tot_MMBtu\nJune                         object
Tot_MMBtu\nJuly                         object
Tot_MMBtu\nAugust                       object
Tot_MMBtu\nSeptember                    object
Tot_MMBtu\nOctober                      object
Tot_MMBtu\nNovember                     object
Tot_MMBtu\nDecember                     object
Elec_MMBtu\nJanuary                     object
Elec_MMBtu\nFebruary                    object
Elec_MMBtu\nMarch                       object
Elec_MMBtu\nApril                       object
Elec_MMBtu\nMay                         object
Elec_MMBtu\nJune                        object
Elec_MMBtu\nJuly                        object
Elec_MMBtu\nAugust                      object
Elec_MMBtu\nSeptember                   object
Elec_MMBtu\nOctober                     object
Elec_MMBtu\nNovember                    object
Elec_MMBtu\nDecember                    object
Netgen\nJanuary                         object
Netgen\nFebruary                        object
Netgen\nMarch                           object
Netgen\nApril                           object
Netgen\nMay                             object
Netgen\nJune                            object
Netgen\nJuly                            object
Netgen\nAugust                          object
Netgen\nSeptember                       object
Netgen\nOctober                         object
Netgen\nNovember                        object
Netgen\nDecember                        object
Total Fuel Consumption\nQuantity         int64
Electric Fuel Consumption\nQuantity      int64
Total Fuel Consumption\nMMBtu            int64
Elec Fuel Consumption\nMMBtu             int64
Net Generation\n(Megawatthours)        float64
YEAR                                     int64
dtype: object

In [47]:
generation.loc[~generation['Netgen\nJanuary'].map(lambda x: isinstance(x, (int, float))), 'Netgen\nJanuary'].unique()

array(['.'], dtype=object)

### Melt generation data to tidy format and groupby facility

In [48]:
generation = pd.read_excel(gen_path, header=5, na_values='.')

In [49]:
generation.columns = ((generation.columns.str.strip()
                                 .str.lower()
                                 .str.replace('\n', ' ')
                                 .str.replace(' ', '_')
                                 .str.replace('-', '')
                                 .str.replace('(', '')
                                 .str.replace(')', '')))

In [50]:
value_cols = [col for col in generation.columns if 'netgen' in col]

In [51]:
df = (pd.melt(generation, id_vars=['plant_id'],
              value_vars=value_cols, value_name='net_gen',
              var_name='month')
        .groupby(['plant_id', 'month'], as_index=False)
        .sum())

In [52]:
df['month'] = df.month.str.replace('netgen_', '')

In [53]:
df.head()

   plant_id     month  net_gen
0         2     april  -24.341
1         2    august  -17.407
2         2  december  -20.909
3         2  february  -69.679
4         2   january  -77.112

### Convert month columns to integer values
The EPA emissions data also has a `month` column but the values are integers. We'll use a built-in list of months from the `calendar` package to create a maping of names to integers.

In [54]:
epa.month.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [55]:
import calendar

In [56]:
calendar.month_name

In [57]:
list(calendar.month_name)

['',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [58]:
# Will need to capitalize the month names to match the list
df.month.str.capitalize().head()

0       April
1      August
2    December
3    February
4     January
Name: month, dtype: object

In [59]:
month_map = {month: idx for idx, month in enumerate(calendar.month_name)}
month_map

{'': 0,
 'January': 1,
 'February': 2,
 'March': 3,
 'April': 4,
 'May': 5,
 'June': 6,
 'July': 7,
 'August': 8,
 'September': 9,
 'October': 10,
 'November': 11,
 'December': 12}

In [60]:
df.month.str.capitalize().head().map(month_map)

0     4
1     8
2    12
3     2
4     1
Name: month, dtype: int64

In [61]:
df['month'] = df.month.str.capitalize().map(month_map)

In [62]:
df.head()

   plant_id  month  net_gen
0         2      4  -24.341
1         2      8  -17.407
2         2     12  -20.909
3         2      2  -69.679
4         2      1  -77.112

In [63]:
df.sort_values(['plant_id', 'month'], inplace=True)

In [64]:
df.month.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [65]:
df.head()

   plant_id  month  net_gen
4         2      1  -77.112
3         2      2  -69.679
7         2      3  -48.374
0         2      4  -24.341
8         2      5  -11.476

### What fuel is used to generate the most electricity at each plant?

In [188]:
df_fuel = (pd.melt(generation, id_vars=['plant_id', 'aer_fuel_type_code'],
              value_vars=value_cols, value_name='net_gen',
              var_name='month')
             .groupby(['plant_id', 'aer_fuel_type_code'], as_index=False)
             .sum())

In [190]:
df_fuel.head()

   plant_id aer_fuel_type_code      net_gen
0         2                HYC     -325.000
1         3                COL  4278313.069
2         3                 NG  8492577.936
3         4                HYC   468960.000
4         7                COL        0.000

In [172]:
max_fuel_index = df_fuel.groupby('plant_id')['net_gen'].idxmax()
max_fuel_index.head()

plant_id
2    0
3    2
4    3
7    5
8    7
Name: net_gen, dtype: int64

In [175]:
max_fuel = df_fuel.loc[max_fuel_index, ['aer_fuel_type_code', 'plant_id']]

In [176]:
df.merge(max_fuel, on='plant_id')

       plant_id  month      net_gen aer_fuel_type_code
0             2      1      -77.112                HYC
1             2      2      -69.679                HYC
2             2      3      -48.374                HYC
3             2      4      -24.341                HYC
4             2      5      -11.476                HYC
5             2      6      -11.441                HYC
6             2      7      -11.593                HYC
7             2      8      -17.407                HYC
8             2      9      -11.566                HYC
9             2     10      -10.832                HYC
10            2     11      -10.270                HYC
11            2     12      -20.909                HYC
12            3      1  1123279.005                 NG
13            3      2   977043.999                 NG
14            3      3   904562.996                 NG
15            3      4   788708.000                 NG
16            3      5  1028473.000                 NG
17            3      6  1116108.001                 NG
18            3      7  1313336.999                 NG
19            3      8  1291524.003                 NG
20            3      9  1200524.998                 NG
21            3     10   921893.002                 NG
22            3     11  1130267.001                 NG
23            3     12   975170.001                 NG
24            4      1   139641.000                HYC
25            4      2   126354.000                HYC
26            4      3   112090.000                HYC
27            4      4    51261.000                HYC
28            4      5    10233.000                HYC
29            4      6      909.000                HYC
30            4      7     4711.000                HYC
31            4      8     5514.000                HYC
32            4      9     3380.000                HYC
33            4     10      884.000                HYC
34            4     11      312.000                HYC
35            4     12    13671.000                HYC
36            7      1    14290.000                 NG
37            7      2    12465.000                 NG
38            7      3    14804.000                 NG
39            7      4    13743.000                 NG
40            7      5    19686.000                 NG
41            7      6    18706.000                 NG
42            7      7    18001.000                 NG
43            7      8    15831.000                 NG
44            7      9    17836.000                 NG
45            7     10    15430.000                 NG
46            7     11    14740.000                 NG
47            7     12    15446.000                 NG
48            8      1   462777.001                COL
49            8      2   495022.002                COL
...         ...    ...          ...                ...
97402     61413     11        0.000                DFO
97403     61413     12        0.000                DFO
97404     61414      1        0.000                DFO
97405     61414      2        0.000                DFO
97406     61414      3        0.000                DFO
97407     61414      4        0.000                DFO
97408     61414      5        0.000                DFO
97409     61414      6        0.000                DFO
97410     61414      7        0.000                DFO
97411     61414      8        0.000                DFO
97412     61414      9        0.000                DFO
97413     61414     10        0.000                DFO
97414     61414     11        0.000                DFO
97415     61414     12        0.000                DFO
97416     61415      1        0.000                SUN
97417     61415      2        0.000                SUN
97418     61415      3        0.000                SUN
97419     61415      4        0.000                SUN
97420     61415      5        0.000                SUN
97421     61415      6        0.000                SUN
97422     61415      7        0.000                SUN
97423     61415      8        0.000                SUN
97424     61415      9        0.000                SUN
97425     61415     10        0.000                SUN
97426     61415     11        0.000                SUN
97427     61415     12        0.000                SUN
97428     61416      1        0.000                DFO
97429     61416      2        0.000                DFO
97430     61416      3        0.000                DFO
97431     61416      4        0.000                DFO
97432     61416      5        0.000                DFO
97433     61416      6        0.000                DFO
97434     61416      7        0.000                DFO
97435     61416      8        0.000                DFO
97436     61416      9        0.000                DFO
97437     61416     10        0.000                DFO
97438     61416     11        0.000                DFO
97439     61416     12        0.000                DFO
97440     99999      1   355998.464                 NG
97441     99999      2    31469.479                 NG
97442     99999      3    34125.231                 NG
97443     99999      4    34840.509                 NG
97444     99999      5    39216.339                 NG
97445     99999      6    38698.671                 NG
97446     99999      7   422925.069                 NG
97447     99999      8    40454.325                 NG
97448     99999      9    35689.043                 NG
97449     99999     10    33604.054                 NG
97450     99999     11    55479.920                 NG
97451     99999     12    19845.901                 NG

[97452 rows x 4 columns]