In [17]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from os.path import join
import sys

cwd = os.getcwd()

# Set data path
data_path = join(cwd, '..', '..', 'data')

In [20]:
# Load the "autoreload" extension
%load_ext autoreload

# always reload modules marked with "%aimport"
%autoreload 1

# add the 'src' directory as one where we can import modules
src_dir = join(os.getcwd(), '..', '..', 'src')
sys.path.append(src_dir)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
%aimport data.clean_import
from data.clean_import import import_epa_emissions, import_plant_capacity, import_plant_generation

## Import data

In [31]:
epa_path = join(data_path, 'EPA emissions.txt')
cap_path = join(data_path, 'may_generator2016.xlsx')
gen_path = join(data_path, 'EIA923_Schedules_2_3_4_5_M_10_2016.xlsx')

In [32]:
epa = import_epa_emissions(epa_path)
cap = import_plant_capacity(cap_path)
gen = import_plant_generation(gen_path)

/Users/Home/anaconda/envs/pydata-issst/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

## View each dataset

In [33]:
epa.head()

,state,facility_name,facility_id_orispl,unit_id,associated_stacks,month,year,programs,operating_time,gross_load_mwh,steam_load_1000lb,so2_tons,avg_nox_rate_lb/mmbtu,nox_tons,co2_short_tons,heat_input_mmbtu,epa_region,nerc_region,unit_type,fuel_type_primary
0,AL,AMEA Sylacauga Plant,56018,1,NaN,5,2016,"CSNOX, CSNOXOS, CSSO2G2, ARP",28.00,1149.0,NaN,0.004,0.0759,0.473,732.800,12428.200,4,SERC,Combustion turbine,Pipeline Natural Gas
1,AL,AMEA Sylacauga Plant,56018,2,NaN,5,2016,"CSNOX, CSNOXOS, CSSO2G2, ARP",17.00,642.0,NaN,0.002,0.0809,0.283,412.300,6984.600,4,SERC,Combustion turbine,Pipeline Natural Gas
2,AL,Barry,3,1,CS0AAN,5,2016,"ARP, CSNOX, CSNOXOS, CSSO2G2",2.75,11.0,NaN,0.005,0.0080,0.001,14.213,240.050,4,SERC,Tangentially-fired,Pipeline Natural Gas
3,AL,Barry,3,2,CS0AAN,5,2016,"ARP, CSNOX, CSNOXOS, CSSO2G2",2.75,11.0,NaN,0.005,0.0080,0.001,14.213,240.050,4,SERC,Tangentially-fired,Pipeline Natural Gas
4,AL,Barry,3,4,NaN,5,2016,"ARP, MATS, CSNOX, CSNOXOS, CSSO2G2",725.25,116336.0,NaN,572.537,0.4319,265.224,128402.000,1251483.675,4,SERC,Tangentially-fired,Coal

In [35]:
epa.month.unique()

array([5])